@import url(./fonts/fonts.css);

:root {
    --White    : #fff;
    --Black    : #000;
    --Gray-900 : #423a3a;
    --Red-400  : #f96464;
    --Pink-400 : #ce9898;
    
    /* Gradient */
    --Gradient-1 : linear-gradient(to right, rgb(248,191,191), rgb(238,139,139));
    --Gradient-2 : linear-gradient( to bottom, rgb(255,255,255), rgb(255,244,244));
    --Grafient-3 : linear-gradient( to right, rgb(255,241,241), rgb(255,255,255));

    /* Typography */
    --JosefinSans : 'JosefinSans',sans-serif;
}